.bg {
    background-color: var(--bg);
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.inputWrap {
    display: flex;
}

.inputGroup {
    margin-right: 30px;
}